@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #000;
    --secColor: #000;
    --thirdColor: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}