@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Cairo&family=Lato:wght@400;700&family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #F2D7D9;
    --secColor: #9E52FF;
    --thirdColor: #9CB4CC;
}
.section{
    padding: 54px 27px;
    width: 70%;
    margin: 0 auto;
}
body {
    background-color: #F2D7D9;;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}